/* Amatic SC
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); 
Neucha
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Neucha&display=swap'); */


.section1 h1, .section2 h1{
    text-align: center;
    font-size: 2.5em;
    box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
    color: black;
}

.section1 h2{
 padding-left: 1em;
 padding-right: 1em;
}

.section2 {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 3em; */
    
    
}

.sw1 {
    /* padding-left: 18%;
    padding-right: 15%; */
    /* font-family:Neucha; */
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3.5em;
    box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
}

.sw1 h2:first-of-type{
    padding-top: 1em;
}

.sw1 h2:last-of-type{
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.about-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    font-size: large;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 5em;
    
    
}

.fp img{
    max-width: 15em;
    height: auto;
    padding:1em;
    justify-content: center;
}

.pic-grid {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}


.pic-grid img{
    max-height:15em;
    /* it was 20 before */
    padding: 1em;
    margin: 0;
}

@media (max-width: 750px) {
        
    body{
        font: 12px/1.5 "Roboto", Verdana, san-serif;
    }

    .logo img{
        display:none
    }

    .rights{
        display: none;
    }

    .section1 > div , .list{
        flex-direction: column;
    }

    .about-text{
        padding-left: 1em;
        padding-right: 1em;
        font-size: medium;
    }

    /* .sw1 {
        padding-left: 1em;
        padding-right: 1em;
    } */

    .pic-grid img{
        max-height:20em;
        padding: 1em;
        margin: 0;
    }

}
