
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

    body{
        font: 14px/1.5 "Roboto", Verdana, sans-serif;
        /* padding: 0.5em; */
        background-color: #eee;
        width: 100wv;
        
    }



    .header-container{
        width: 100wv;
        display: flex;
        text-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background-color: #eee;
       
    }
    

    .offer{
        display: flex;
        text-wrap: wrap;
        padding: 0.2em 0.5em;
        color: black;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        /* background-color: #a9b7c0; */
        /* border: 2px; */
        /* border-radius: 0.3em;
        box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);   */

    }

    .offer img{
        height: 1.2em;
        margin-right: 0.5em;
    }


    .logo img{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        padding: 0.5em;
        padding-left: 0;
        /* margin: auto 0.5em; */
        
        width: 10em;
        image-resolution: 200dpi;
        border-radius: 0.3em;
        background-color: #eee;
        box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
    }

    .logo-fixed img{
        display: none;
    }

  
    .menu ul{
        display: flex;
        list-style: none;
    }

    .menu ul li{
        display: block;
        text-align: center;
        padding: 0 0.2em ;
        margin: 0.5em 0.3em;
       
    }

    a {
        text-decoration: none;
        color: black;
        font-family: "Cuprum";
        font-size: large;
    }

    .menu a :hover{
        background-color: black;
        box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
        border-radius: 0.2em;
        color: #fff;
    }

    footer{
        background-color: #fff;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
        
    }

    .contact, .contact-addreess, .rights{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        font-size: medium;
        color: black;
    
    }

    .contact-addreess p:first-of-type {
        margin-top: 0.85em;
        
    }


    .rights img{
        height: auto;
        max-width: 10em;
        padding-left: 3em;
    }

    .contact table{
        margin-top: 0.75em;
        margin-right: 0.5em;
        padding-right: 0.5em;
        background-color: #eee;
        font-size: medium;
        border-radius: 0.3em;
        box-shadow: 0 0 1em 0.2em rgb(0,0,0,0.2);
       
        
    }

    .contact img{
        height:2.5em;
        padding: 0.5em;
        margin-top: 0.2em;
        background-color: #eee;
    }

    .offer p::before {
        font-family: "FontAwesome";
        content: "\f2a0";
        display: inline-block;
        padding-right: 0.5em;
        vertical-align: middle;
        font-weight: 900;
        /* color: black; */
     }

     .contact table tr td p::before {
        font-family: "FontAwesome";
        content: "\f2a0";
        display: inline-block;
        padding-right: 0.5em;
        vertical-align: middle;
        /* font-weight: 900; */
        /* color: black; */
     }
